*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main-page__main{
    display: grid;
    padding: 0 2.5vw;
    gap: 30px;
    grid-template-columns: 170px 1fr 140px;
    align-items: flex-start;
    background: linear-gradient(#fff, #e8e9e9);
}

.cards{}



